body {
  margin: 20px auto;
  padding: 20px;
  width: 640px;

  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.form {
  border: 1px dashed black;
  margin: 0;
  padding: 10px 20px;

  font-size: 16px;
}

.form-element {
	display: block;
  margin: 0;
  padding: 15px 10px;
}

.form-button {
  margin: 0;
  padding: 0;
}
